@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/*BODY*/
body {
  font-family: 'Roboto', sans-serif;
}

/*NAVBAR*/
.navbar {
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 100%;
  background: white;
  z-index: 1005;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  & .name-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #335963;
  }
  & .searchbar-container {
    padding-left: 25px;

    & .searchbar-input {
      margin-top: 9%;
      width: 40px;
      height: 40px;
      border-style: solid;
      border-radius: 20px;
      padding: 10px;
      background-color: #335963;
      outline: none;
      transition-duration: 500ms;
      cursor: pointer;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAWpJREFUWEfNljFOxDAQRbehoKDnIjTcgYtwAHpOwhE4BA3Vig6Je9ABYZ60kZbVc5xkifRHelrleRzP2rGT3TAM0ahMQmUSKpNQmYTKJFQmoTIJlUmonMFlcV88FW/F5+GXazzt1m8xKjvcFh/FVNBOnvVfhMoJHorvgtgXzNZNcXX45RpPkEe+3Wc2KhswIwz6VTwWF4Xl4Wknj/yzZlKlwDM1LiuDW84p5BH0W/1MqhRYOoLla83cKeSNy01/y+miUmB3EksHGv8Y/a29i0qBI4RgI1h7C/IJ+lt7F5UC5xzBbrX2FuQT9Lf2LiqF+BmMfwbHgWJ3cfw5CEvfJD8FcVdY3ixUTrDkXTzGe3Fd2P26qOww92uGmaM4YnWRKmfAM8VssTs5QlrfgxR1VpEq/5mzilS5AauLVLkRq4pUuSHHRb4WlvMHlRtDkS/F85FrojIJlUmoTEJlEiqTUJmEyiRUJqEyh2H3Cz4WH1fC57RBAAAAAElFTkSuQmCC);
      background-repeat: no-repeat;
      font-family: "Segoe UI";
      font-size: 15px;
      color: transparent;
      overflow: hidden;
    }
  }
  & .nav-menu {
    padding-left: 20px;
    & li {
      font-size: 1.2rem;
      color: #335963;
    }
  }

  & .nav-buttons {
    & button {
      background-color: white;
      color: #335963;
      border: 1px solid #335963;
      padding-bottom: calc(0.5em - 1px);
      padding-left: 1em;
      padding-right: 1em;
      padding-top: calc(0.5em - 1px);
      border-radius: 5px;
    }
    & .background-solid {
      background-color: #335963;
      color: #fff;
    }
  }
  & .menu-mobile {
    font-size: 2rem;
  }
}

.logo-fix-size {
  position:relative;
  width:70px;
  height:70px;
  top:-2px;
}

.logo-fix-size img {
  position:absolute;
}

svg{
  width: 1.5rem;
  height: 1.5rem;
  color:#94a2b0;
}

.session-text{
  color:#94a2b0;
}

.user-bubble{
  width: 210.39px;
}

/*HEADER*/
.headerLanding{
   background-image: url(../assets/images/background-header.png);
   height: 730px;
}

.headerContent{
  margin-top:80px;
}

.imgSection, .unirse {
 transition: transform 1s;
}

.imgSection:hover, .unirse:hover {
 transform: scale(1.2);
}
.buttons-landing {
 flex-direction: column;
 width:300px;
 gap:1rem;
 margin:0 auto;
}

/*FOOTER*/

.logo-footer {
  width: 100px;
}

.footer {
  width: 100%;
  max-height: 200px;
  min-height: 85px;
}

.rrss {
  max-width: 35px;
  max-height: 35px;
}

/*ScrollUp*/


#toTopButton {
  padding: 2px 7px 2px 7px;
  border: solid 1px white;
  border-radius: 5px;

  background: #335963;
  color: white;

  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: 0.3s;
  z-index: 2000;

  font-weight: bolder;
  font-size: 50px;
}

#toTopButton:hover {
  transform: scale(1.1);
}

a{
  cursor: pointer;
}
/* FIX RESPONSIVE */

@media(min-width:337px) {
  .container {
    max-width: 700px
  }
}
@media (min-width:768px) {
  .container {
    max-width:1180px;
  }
}

@media (max-width:768px) {
  .explore-tab .container-text {
    order:2
  }
  .explore-tab .container-img {
    order:1
  }
  .imgSection {
    width:60%;
  }
}
.imgSection {
  margin:0 auto;
}
